{% set route = app.request.attributes.get('_route') %}
<nav class="navbar sticky-top navbar-expand-lg {% if app.user.admin %}bg-danger{% else %}bg-primary{% endif %}" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand fw-semibold fs-2" href="/">
      <img src="/assets/logo.png" alt="Logo" class="d-inline-block align-text-center tw-w-14 tw-h-14 rounded-circle">
      DICT
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" id="navbarNavDropdown">
      <ul class="navbar-nav fs-5 ms-lg-auto px-lg-2 py-lg-3 gap-3 p-5">
        {% if app.user.admin %}
        <li class="nav-item">
          <a 
          class="nav-link{% if route == 'admin_joborders' %} active" aria-current="page{%endif%}"
          href="{{ path('admin_joborders') }}">Job Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if route == 'admin_activities' %} active" aria-current="page{%endif%}" href="{{ path('admin_activities') }}">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if route == 'admin_accounts' %} active" aria-current="page{%endif%}" href="#">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if route == 'admin_projects' %} active" aria-current="page{%endif%}" href="{{ path('admin_projects') }}">Projects</a>
        </li>
        <li class="nav-item mr-5">
          <a class="nav-link{% if route == 'personnels_index' %} active" aria-current="page{%endif%}" href="{{ path('personnels_index') }}">Personnels</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link{% if route == 'dashboard_user' %} active" aria-current="page{%endif%}" href="{{ path('dashboard_user') }}">Dashboards</a>
        </li>
        {% endif %}
        <a href="{{ path('app_logout') }}" class="btn btn-secondary align-self-center">Logout</a>
      </ul>
    </div>
  </div>
</nav>

