{% extends 'base.html.twig' %}
{% block title %} DICT JO - Sign IN {% endblock %}
{% block body %}
<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card w-100 shadow-lg p-3 mb-5 bg-body tw-p-5" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/logo.png') }}" class="img-fluid p-5" alt="Logo">
      </div>
      <div class="col-12 col-md-6">
        <div class="card-body p-4">
          <h2 class="card-title text-center pb-5">Job Order System</h2>

          {{ form_start(form) }}
          {% for message in app.flashes('error') %}
            <strong>{{ message }}</strong>
          {% endfor %}

          {{
            form_widget(form.email, {
            'attr' : {
            'placeholder' : 'Email',
            'class':'form-control border border-black p-2 mb-3'
            }
            })
          }}
          {{
            form_widget(form.password, {
            'attr' : {
            'placeholder' : 'Password',
            'class':'form-control border border-black p-2 mb-3'
            }
            })
          }}
          {{ form_widget(form.submit, {'attr' : {'class':'btn btn-primary align-self-center ' }}) }}
          {{ form_rest(form) }}
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
