{% extends 'base.twig' %}
{% block head %}
<title>DICT JO - New Job Order</title>
{% endblock %}
{% block header %}
 {% include 'nav-bar.twig'%}
{% endblock %}
{% block body %}
<nav aria-label="Breadcrumb">
  <ol class="flex p-4">
    <li class="flex items-center">
      <a href="/dashboard.php" class="text-blue-500 hover:text-blue-600 hover:underline">Home</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 512" transform="rotate(90)">
        <path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/>
      </svg>
    </li>
    <li class="flex items-center text-gray-500">
      <span class="mx-2">Create</span>
    </li>
  </ol>
</nav>

<div class="container mx-auto grid place-items-center">
  <div class="card tw-w-full tw-max-w-2xl tw-mx-auto">
    <div class="card-body">
      <h3 class="card-title mb-3">Create job order</h3>
      {{ form_start(form) }}

      {{ form_errors(form) }}

      <div>
        <h5>Client Information</h5>

        <div class="form-floating mb-3">
          {{ form_widget(form.client_name, {'attr': {'placeholder': ' ' }}) }}
          {{ form_label(form.client_name) }}
        </div>

        <div class="form-floating mb-3">
          {{ form_widget(form.client_lgu, {'attr': {'placeholder': ' ' }}) }}
          {{ form_label(form.client_lgu) }}
        </div>

        <div class="row g-3">
          <div class="form-floating col mb-3">
            {{ form_widget(form.client_contact, {'attr': {'placeholder': ' ' }}) }}
            {{ form_label(form.client_contact) }}
          </div>
          <div class="form-floating col mb-3">
            {{ form_widget(form.request_date, {'attr': {'placeholder': ' ' }}) }}
            {{ form_label(form.request_date) }}
          </div>
        </div>
      </div>

      <div>
        <h5>Job Order Details</h5>

        <div class="row g-3">
          <div class="form-floating col mb-3">
            {{ form_widget(form.start_scheduled, {'attr': {'placeholder': ' ' }}) }}
            {{ form_label(form.start_scheduled) }}
          </div>
          <div class="form-floating col mb-3">
            {{ form_widget(form.end_scheduled, {'attr': {'placeholder': ' ' }}) }}
            {{ form_label(form.end_scheduled) }}
          </div>
        </div>

        {{ form_row(form.issued_by) }}
        {{ form_row(form.approved_by) }}

        <div class="mb-3">
          {{ form_label(form.endorsee) }}

          <select
            class="form-control"
            {% if readonly %}
              readonly
            {% endif %}
            multiple
            name="{{ field_name(form.endorsee) }}"
          >
            {% for option in options %}
              <option
                value="{{ option }}"
                {% if option in endorsee %}
                  selected
                {% endif %}
              >
                {{ option }}
              </option>
            {% endfor %}
          </select>
          <multiple-select
            {% if readonly %}
              readonly
            {% endif %}
            placeholder="Add endorsee"
            name="{{ field_name(form.endorsee) }}"
            :selected="[{{ endorsee | default([]) | map(n => "'#{n}'") | join(',') | e('html_attr') }}]"
            container-class="row"
            value-class="flex"
            delete-class="btn btn-sm btn-danger mb-2 ml-auto"
            select-class="leading-non row relative flex text-sm"
            input-class="form-control"
            choices-class="absolute inset-x-0 top-[calc(100%+4px)] flex h-60 flex-col gap-1 overflow-y-scroll rounded border border-neutral-400 bg-white p-2"
            option-class="ui-active:text-blue-950 ui-active:font-bold"
            :include-delimeter="false"
            options="{{ options | default([1,2,3]) | join('|') | e('html_attr')}}"
            seperator="|"
          ></multiple-select>
        </div>

        {{ form_row(form.job_description, {'widge_attr': {'rows' : 7 }}) }}
      </div>
      <div>
        <h5>Completion Information</h5>
        {{ form_row(form.actual_job_done) }}

        <div class="row g-3">
          <div class="form-floating col mb-3">
            {{ form_widget(form.verifier, {'attr': {'placeholder': ' ' }}) }}
            {{ form_label(form.verifier) }}
          </div>
          <div class="form-floating col mb-3">
            {{ form_widget(form.verifier_position, {'attr': {'placeholder': ' ' }}) }}
            {{ form_label(form.verifier_position) }}
          </div>
        </div>

        {{ form_row(form.remarks) }}
      </div>

      <div class="row gap-2">
        {{ form_widget(form.draft, {'attr': {'class': 'btn btn-primary col' }}) }}
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success col' }}) }}
      </div>

      {{ form_rest(form) }}
      {{ form_end(form) }}
    </div>
  </div>
</div>

{% endblock %}
