{% extends 'base.twig' %}
{% block head %}
<title>DICT JO - New Job Order</title>
<script id="options" type="application/json">
  {{ options | json_encode |raw }}
</script>
<script id="endorsee" type="application/json">
  {{ form.vars.value.endorsee | json_encode | raw }}
</script>
<script id="permanent" type="application/json">
  {{ [app.user.name] | json_encode | raw }}
</script>
{% endblock %}
{% block header %}
{% include 'nav-bar.twig' %}
{% endblock %}
{% block body %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/dashboard.php">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create or edit</li>
    </ol>
  </nav>
</div>

<div class="container mx-auto grid place-items-center">
  <div class="card tw-w-full tw-max-w-2xl tw-mx-auto">
    <div class="card-body">
      <h3 class="card-title mb-3">Create job order</h3>
      {{ form_start(form) }}

      {{ form_errors(form) }}

      <hr>

      <div>
        <h5>Client Information</h5>

        <div class="form-floating mb-3">
          {{ form_widget(form.client_name, {'attr': {'placeholder': ' ' }}) }}
          {{ form_label(form.client_name) }}
        </div>

        <div class="form-floating mb-3">
          {{ form_widget(form.client_lgu, {'attr': {'placeholder': ' ' }}) }}
          {{ form_label(form.client_lgu) }}
        </div>

        <div class="row g-3">
          <div class="form-floating col-12 col-md mb-3">
            {{ form_widget(form.client_contact, {'attr': {'placeholder': ' ' }}) }}
            {{ form_label(form.client_contact) }}
          </div>
          <div class="form-floating col-12 col-md mb-3">
            {{ form_widget(form.request_date, {'attr': {'placeholder': ' ' }}) }}
            {{ form_label(form.request_date) }}
          </div>
        </div>
      </div>

      <hr>

      <div>
        <h5>Job Order Details</h5>

        <div class="form-floating mb-3" x-data="dateRange()">
          <input type="text" class="form-control" placeholder=" ">
          <label class="form-label">Scheduled date</label>
          <input type="hidden" name="{{ field_name(form.start_scheduled) }}" :value="format(startDate)">
          <input type="hidden" name="{{ field_name(form.end_scheduled) }}" :value="format(endDate)">
        </div>

        <div
          class="dropdown form-floating mb-3"
          x-data="autocomplete('options', {{ ("'" ~ form.vars.value.issued_by ~ "'") | e('html_attr')}})"
          x-bind="container"
        >
          <input type="hidden" :value="selected" name="{{ field_name(form.issued_by) }}">
          <input type="text" class="form-control" x-model="query" x-bind="input" x-ref="input" placeholder=" ">
          {{ form_label(form.issued_by) }}
          <ul class="dropdown-menu tw-inset-x-0 tw-max-h-[30vh] overflow-y-scroll" :class="{'show':show}">
            <template x-if="filteredOptions.length === 0">
              <li>
                <em class="dropdown-item disabled">No results found</em>
              </li>
            </template>
            <template x-for="opt, i in filteredOptions" :key="opt">
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  :class="{'active': selectedIndex == i}"
                  @click="select(i)"
                  x-text="opt"
                ></button>
              </li>
            </template>
          </ul>
        </div>

        <div
          class="dropdown form-floating mb-3"
          x-data="autocomplete('options', {{ ("'" ~ form.vars.value.approved_by ~ "'") | e('html_attr')}})"
          x-bind="container"
        >
          <input type="hidden" :value="selected" name="{{ field_name(form.approved_by) }}">
          <input type="text" class="form-control" x-model="query" x-bind="input" x-ref="input" placeholder=" ">
          {{ form_label(form.approved_by) }}
          <ul class="dropdown-menu tw-inset-x-0 tw-max-h-[30vh] overflow-y-scroll" :class="{'show':show}">
            <template x-if="filteredOptions.length === 0">
              <li>
                <em class="dropdown-item disabled">No results found</em>
              </li>
            </template>
            <template x-for="opt, i in filteredOptions" :key="opt">
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  :class="{'active': selectedIndex == i}"
                  @click="select(i)"
                  x-text="opt"
                ></button>
              </li>
            </template>
          </ul>
        </div>

        <div x-data="multipleSelect('endorsee', 'permanent')">
          {{ form_label(form.endorsee) }}

          <template x-for="val,i in values" :key="val">
            <div class="input-group mb-2">
              <input
                type="text"
                class="form-control"
                readonly
                :name="'{{field_name(form.endorsee)}}['+ i +']'"
                :value="val"
              >
              <button
                type="button"
                class="btn btn-outline-danger"
                type="button"
                id="button-addon2"
                :disabled="permanent.includes(val)"
                @click="remove(val)"
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </template>

          <div
            class="dropdown mb-3"
            x-data="autocomplete('options', '')"
            x-bind="container"
            @select="ev => { add(ev.detail); selected = ''; }"
          >
            <input
              type="text"
              class="form-control"
              x-model="query"
              x-bind="input"
              x-ref="input"
              placeholder="Add endorsee"
            >
            <ul class="dropdown-menu tw-inset-x-0 tw-max-h-[30vh] overflow-y-scroll" :class="{'show':show}">
              <template x-if="filteredOptions.length === 0">
                <li>
                  <em class="dropdown-item disabled">No results found</em>
                </li>
              </template>
              <template x-for="opt, i in filteredOptions" :key="opt">
                <li>
                  <button
                    type="button"
                    class="dropdown-item"
                    :class="{'active': selectedIndex == i}"
                    @click="select(i)"
                    x-text="opt"
                  ></button>
                </li>
              </template>
            </ul>
          </div>
        </div>

        {{ form_row(form.job_description, {'widge_attr': {'rows' : 7 }}) }}
      </div>
      <hr>
      <div>
        <h5>Completion Information</h5>
        {{ form_row(form.actual_job_done) }}

        <div class="row g-3">
          <div class="form-floating col-12 col-md mb-3">
            {{ form_widget(form.verifier, {'attr': {'placeholder': ' ' }}) }}
            {{ form_label(form.verifier) }}
          </div>
          <div class="form-floating col-12 col-md mb-3">
            {{ form_widget(form.verifier_position, {'attr': {'placeholder': ' ' }}) }}
            {{ form_label(form.verifier_position) }}
          </div>
        </div>

        {{ form_row(form.remarks) }}
      </div>

      <div class="row gap-2 p-2">
        {{ form_widget(form.draft, {'attr': {'class': 'btn btn-primary col-12 col-md' }}) }}
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success col-12 col-md' }}) }}
      </div>

      {{ form_rest(form) }}
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
