{% extends 'base.twig' %}
{% block head %}
<title>DICT JO - Form</title>
{% endblock %}
{% block header %}
<top-bar></top-bar>
{% endblock %}
{% block body %}
{% set readonly = jo.status != 'Draft' %}

<form
  action="#"
  method="post"
  class="jo-form container mx-auto flex justify-center print:!m-0 print:!max-w-full"
>
  {{ form_row(form._token) }}

  {% if id is defined %}
    <input type="hidden" name="{{ field_name(form.id)}}" value="{{id}}">
  {% endif %}

  <div class="relative print:!w-full">
    {% if jo.status == 'Draft' %}
      <strong class="absolute left-1/2 top-1/2 z-[-1] hidden -translate-x-1/2 translate-y-1/2 rotate-[-55deg] scale-[7] text-4xl uppercase tracking-widest text-neutral-300 print:block">
        draft
      </strong>
    {% endif %}

    {% if not readonly %}
      <div class="absolute bottom-8 right-8 z-10 flex gap-4">
        <button
          type="submit"
          class="overflow-clip rounded bg-blue-950 px-4 py-2 text-sm font-semibold uppercase text-white print:hidden"
          name="{{ field_name(form.draft) }}"
        >
          <font-awesome-icon icon="fa-solid fa-floppy-disk" class="mr-1"></font-awesome-icon>
          Draft
        </button>
        <button
          type="submit"
          class="overflow-clip rounded bg-green-950 px-4 py-2 text-sm font-semibold uppercase text-white print:hidden"
          name="{{ field_name(form.submit) }}"
        >
          <font-awesome-icon icon="fa-solid fa-floppy-disk" class="mr-1"></font-awesome-icon>
          Submit
        </button>
      </div>
    {% endif %}

    {% if not hidePrint is same as(true) %}
      <print-button
        type="button"
        class="absolute left-4 top-4 z-10 overflow-clip rounded-full bg-blue-950 px-4 py-2 text-sm font-semibold uppercase text-white print:hidden"
        {{ jo.status == 'Draft' ? 'text="Print Draft"' : '' }}
      >
      </print-button>
    {% endif %}
    <div class="relative z-0 flex h-[13in] w-[8.5in] flex-col items-stretch border border-neutral-700 p-[0.75in] print:!w-full print:border-none">
      <div class="relative flex h-[0.75in] items-center justify-between">
        <img
          src="./assets/bagong_pilipinas.png"
          alt="Bagong Pilipinas Logo"
          class="h-[0.5in]"
        >
        <img
          src="./assets/dict_header.png"
          alt="DICT Official Header"
          class="absolute right-1/2 h-[0.75in] translate-x-1/2"
        >
        <img src="./assets/elgu.png" alt="eLGU IBPLS logo" class="h-[0.5in]">
      </div>
      <div class="flex justify-center">
        <h1 class="mt-4 font-serif text-3xl font-semibold uppercase">job order form</h1>
      </div>
      <table class="mb-[0.75in] mt-2 w-full border-collapse font-serif">
        <tr>
          <td
            class="border border-black bg-neutral-200 text-start text-xs font-semibold uppercase leading-none"
            colspan="2"
          >
            Client/Worksite Details
          </td>
        </tr>
        <tr>
          <td class="w-1/2 border border-black">
            <div class="flex items-center">
              <label for="client_name" class="text-sm uppercase leading-none">Name: </label>
              <input
                {% if readonly %}
                  readonly
                {% endif %}
                id="client_name"
                name="{{ field_name(form.client_name) }}"
                type="text"
                value="{{ jo.client_name | e('html_attr') }}"
                placeholder=" "
                class="ml-1 w-0 flex-1 bg-transparent text-sm font-semibold uppercase leading-none"
              >
            </div>
          </td>
          <td class="w-1/2 border border-black">
            <div class="flex items-center">
              <label
                for="client_contact"
                class="text-sm uppercase leading-none"
              >
                Contact Number:
              </label>
              <input
                {% if readonly %}
                  readonly
                {% endif %}
                id="client_contact"
                name="{{ field_name(form.client_contact) }}"
                type="text"
                value="{{ jo.client_contact }}"
                placeholder=" "
                class="ml-1 w-0 flex-1 bg-transparent text-sm font-semibold leading-none"
              >
            </div>
          </td>
        </tr>
        <tr>
          <td class="border border-black" colspan="2">
            <div class="flex items-center">
              <label for="client_lgu" class="text-sm uppercase leading-none">LGU: </label>
              <input
                {% if readonly %}
                  readonly
                {% endif %}
                id="client_lgu"
                name="{{ field_name(form.client_lgu) }}"
                type="text"
                value="{{ jo.client_lgu }}"
                placeholder=" "
                class="ml-1 w-0 flex-1 bg-transparent text-sm font-semibold uppercase leading-none"
              >
            </div>
          </td>
        </tr>
        <tr>
          <td class="w-1/2 border border-black">
            <div class="flex items-center">
              <label
                for="request_mode"
                class="text-sm uppercase leading-none"
              >
                Mode of request:
              </label>
              <input
                readonly
                id="request_mode"
                name="request_mode"
                type="text"
                value="On Site"
                placeholder=" "
                class="ml-1 w-0 flex-1 bg-transparent text-sm font-semibold capitalize leading-none"
              >
            </div>
          </td>
          <td class="w-1/2 border border-black">
            <div class="flex items-center">
              <label for="date" class="text-sm uppercase leading-none"> Date: </label>
              <date-picker
                {% if readonly %}
                  readonly
                {% endif %}
                name="{{ field_name(form.request_date) }}"
                date="{{ jo.request_date  | date('Y-m-d') }}"
                class="ml-1 w-0 flex-1"
                hide-input-icon
                input-class-name="bg-transparent border-none rounded-none leading-none font-semibold text-sm font-serif p-0 uppercase"
              ></date-picker>
            </div>
          </td>
        </tr>
        <tr>
          <td
            class="border border-black bg-neutral-200 text-start text-xs font-semibold uppercase leading-none"
            colspan="2"
          >
            Job Order Details
          </td>
        </tr>
        <tr>
          <td class="w-1/2 border border-black">
            <div class="flex items-center">
              <span class="text-sm uppercase leading-none"> Scheduled date: </span>
              <date-picker
                {% if readonly %}
                  readonly
                {% endif %}
                range
                start-date="{{ jo.scheduled_start_date | date('Y-m-d')  }}"
                end-date="{{ jo.scheduled_end_date | date('Y-m-d')  }}"
                start-name="{{ field_name(form.start_scheduled) }}"
                end-name="{{ field_name(form.end_scheduled) }}"
                class="ml-1 w-0 flex-1"
                hide-input-icon
                input-class-name="bg-transparent border-none rounded-none leading-none font-semibold text-sm font-serif p-0 uppercase"
              ></date-picker>
            </div>
          </td>
          <td class="w-1/2 border border-black">
            <div class="flex items-center">
              <span class="text-sm uppercase leading-none"> Job order number: </span>
              <input
                {{ jo_editable ? '' : 'readonly' }}
                type="text"
                value="{{ jo.job_order_number }}"
                placeholder=" "
                class="ml-1 w-0 flex-1 bg-transparent text-sm font-semibold leading-none"
              >
            </div>
          </td>
        </tr>
        <tr>
          <td class="w-1/2 border border-black">
            <div class="flex items-center">
              <span class="text-sm uppercase leading-none">Issued by:</span>
              <autocomplete-select
                {% if readonly %}
                  readonly
                {% endif %}
                name="{{ field_name(form.issued_by) }}"
                default="{{ jo.issued_by | e('html_attr') }}"
                container-class="relative ml-1 flex w-0 flex-1"
                input-class="w-full bg-transparent text-sm font-semibold uppercase leading-none"
                choices-class="absolute inset-x-0 top-[calc(100%+4px)] z-30 flex h-60 flex-col gap-1 overflow-y-scroll rounded border border-neutral-400 bg-white p-2"
                option-class="ui-active:text-blue-950 ui-active:font-bold"
                options="{{ options | join('|') | e('html_attr')}}"
                seperator="|"
              ></autocomplete-select>
            </div>
          </td>
          <td class="w-1/2 border border-black">
            <div class="flex items-center">
              <span class="text-sm uppercase leading-none">Approved by:</span>
              <autocomplete-select
                {% if readonly %}
                  readonly
                {% endif %}
                name="{{ field_name(form.approved_by) }}"
                default="{{ jo.approved_by | e('html_attr') }}"
                container-class="relative ml-1 flex w-0 flex-1"
                input-class="w-full bg-transparent text-sm font-semibold uppercase leading-none"
                choices-class="absolute inset-x-0 top-[calc(100%+4px)] z-30 flex h-60 flex-col gap-1 overflow-y-scroll rounded border border-neutral-400 bg-white p-2"
                option-class="ui-active:text-blue-950 ui-active:font-bold"
                options="{{ options | join('|') | e('html_attr')}}"
                seperator="|"
              ></autocomplete-select>
            </div>
          </td>
        </tr>

        <tr>
          <td class="h-[3em] w-1/2 border border-black" colspan="2">
            <div class="flex items-center">
              <div class="flex flex-1 items-start">
                <span class="mr-1 text-sm uppercase leading-[19px]"> Endorsed to: </span>
                <multiple-select
                  {% if readonly %}
                    readonly
                  {% endif %}
                  placeholder="Add endorsee"
                  name="{{ field_name(form.endorsee) }}"
                  :selected="[{{ endorsee | map(n => "'#{n}'") | join(',') | e('html_attr') }}]"
                  container-class="relative z-10 flex flex-1 flex-wrap items-start"
                  value-class="group/value relative mr-1 text-sm font-semibold uppercase leading-[19px]"
                  delete-class="absolute right-0 top-0 hidden h-4 w-4 -translate-y-1/2 translate-x-1/2 rounded-full bg-red-600 font-sans text-xs font-black leading-[16px] text-white group-hover/value:block"
                  select-class="leading-non relative flex text-sm"
                  input-class="w-[30ch] bg-transparent text-sm font-semibold uppercase leading-none print:hidden"
                  choices-class="absolute inset-x-0 top-[calc(100%+4px)] flex h-60 flex-col gap-1 overflow-y-scroll rounded border border-neutral-400 bg-white p-2"
                  option-class="ui-active:text-blue-950 ui-active:font-bold"

                  options="{{ options | join('|') | e('html_attr')}}"
                  seperator="|"
                ></multiple-select>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="w-1/2 border border-black" colspan="2">
            <div class="flex flex-col items-stretch">
              <span class="block text-sm font-semibold uppercase leading-[19px]">Job Request Description</span>
              <dynamic-textarea
                {% if readonly %}
                  readonly
                {% endif %}
                class="mx-0 my-2 max-h-[10em] min-h-[2em] resize-none bg-transparent text-sm leading-none"
                name="{{ field_name(form.job_description) }}"
                name="job_description"
                placeholder=" "
              >
                <pre>{{ jo.job_description }}</pre>
              </dynamic-textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td
            class="border border-black bg-neutral-200 text-start text-xs font-semibold uppercase leading-none"
            colspan="2"
          >
            Completion Information
          </td>
        </tr>
        <tr>
          <td class="w-1/2 border border-black" colspan="2">
            <div class="flex flex-col items-stretch">
              <span class="block text-sm font-semibold uppercase leading-[19px]">Actual Job Done</span>
              <dynamic-textarea
                {% if readonly %}
                  readonly
                {% endif %}
                class="mx-0 my-2 max-h-[15em] min-h-[2em] resize-none bg-transparent text-sm leading-none"
                name="{{ field_name(form.actual_job_done) }}"
                placeholder=" "
              >
                <pre>{{ jo.actual_job_done }}</pre>
              </dynamic-textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="w-1/2 border border-black" colspan="2">
            <div class="flex h-[5em] items-end">
              <span class="text-sm uppercase leading-[19px]"> Performed by: </span>
              <div class="flex flex-1 flex-col items-center">
                <input
                  readonly
                  type="text"
                  value="{{ jo.performed_by | e('html_attr') }}"
                  placeholder=" "
                  class="w-full bg-transparent text-center text-sm font-semibold uppercase leading-none"
                >
                <input
                  readonly
                  type="text"
                  value="{{ jo.performer_position | e('html_attr') }}"
                  placeholder=" "
                  class="w-full bg-transparent text-center text-xs font-medium uppercase italic leading-none"
                >
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="w-1/2 border border-black" colspan="2">
            <div class="flex h-[5em] items-end">
              <span class="text-sm uppercase leading-[19px]"> Verified by: </span>
              <div class="flex flex-1 flex-col items-center">
                <input
                  {% if readonly %}
                    readonly
                  {% endif %}
                  type="text"
                  name="{{ field_name(form.verifier) }}"
                  value="{{ jo.verified }}"
                  class="w-full bg-transparent text-center text-sm font-semibold uppercase leading-none"
                  placeholder="client name"
                >
                <input
                  {% if readonly %}
                    readonly
                  {% endif %}
                  type="text"
                  name="{{ field_name(form.verifier_position) }}"
                  value="{{ jo.verifier_position | e('html_attr') }}"
                  class="w-full bg-transparent text-center text-xs font-medium uppercase italic leading-none"
                  placeholder="position"
                >
              </div>
            </div>
          </td>
        </tr>
      </table>

      <div class="mt-auto flex flex-1 break-before-avoid flex-col items-stretch justify-stretch border border-black font-serif">
        <span class="block text-sm font-semibold uppercase leading-[19px]">Remarks/Comment/Feedback</span>
        <div class="h-0 flex-1">
          <textarea
            {% if readonly %}
              readonly
            {% endif %}
            name="{{ field_name(form.remarks) }}"
            placeholder=" "
            class="h-full w-full resize-none bg-transparent text-sm leading-none"
          >{{ jo.remarks }}</textarea>
        </div>
      </div>
      <em class="invisible mt-4 print:visible">
        ****Please accomplish together with Client Satisfaction Feedback Form
      </em>
    </div>
  </div>
</form>
{% endblock %}
