{% extends 'base.twig' %}
{% block head %}
<title>DICT JO - Form</title>
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
{% set readonly = true %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/dashboard.php">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ jo.job_order_number }}</li>
    </ol>
  </nav>
</div>

<div class="tw">
  <form
    action="#"
    method="post"
    class="jo-form tw-mx-auto tw-flex tw-justify-center print:!tw-m-0 print:!tw-max-w-full"
  >
    {{ form_row(form._token) }}

    {% if id is defined %}
      <input type="hidden" name="{{ field_name(form.id)}}" value="{{id}}">
    {% endif %}

    <div class="tw-relative print:!tw-w-full">
      {% if jo.status == 'Draft' %}
        <strong class="tw-absolute tw-left-1/2 tw-top-1/2 tw-z-[-1] tw-hidden -tw-translate-x-1/2 tw-translate-y-1/2 tw-rotate-[-55deg] tw-scale-[7] tw-text-4xl tw-uppercase tw-tracking-widest tw-text-neutral-300 print:tw-block">
          draft
        </strong>
      {% endif %}

      {% if not hidePrint is same as(true) %}
        <button
          type="button"
          class="button-print btn btn-primary tw-absolute tw-left-4 tw-top-4 tw-z-10 print:tw-hidden"
        >
          <i class="fa-solid fa-print"></i>
          Print
        </button>
      {% endif %}

      <div class="tw-relative tw-z-0 tw-flex tw-h-[13in] tw-w-[8.5in] tw-flex-col tw-items-stretch tw-border tw-border-neutral-700 tw-p-[0.75in] print:!tw-w-full print:tw-border-none">
        <div class="tw-relative tw-flex tw-h-[0.75in] tw-items-center tw-justify-between">
          <img
            src="./assets/bagong_pilipinas.png"
            alt="Bagong Pilipinas Logo"
            class="tw-h-[0.5in]"
          >
          <img
            src="./assets/dict_header.png"
            alt="DICT Official Header"
            class="tw-absolute tw-right-1/2 tw-h-[0.75in] tw-translate-x-1/2"
          >
          <img src="{{jo.project_logo}}" alt="eLGU IBPLS logo" class="tw-h-[0.5in]">
        </div>
        <div class="tw-flex tw-justify-center">
          <h1 class="tw-mt-4 tw-font-serif tw-text-3xl tw-font-semibold tw-uppercase">job order form</h1>
        </div>
        <table class="tw-mb-[0.75in] tw-mt-2 tw-w-full tw-border-collapse tw-font-serif">
          <tr>
            <td
              class="tw-border tw-border-black tw-bg-neutral-200 tw-text-start tw-text-xs tw-font-semibold tw-uppercase tw-leading-none"
              colspan="2"
            >
              Client/Worksite Details
            </td>
          </tr>
          <tr>
            <td class="tw-w-1/2 tw-border tw-border-black">
              <div class="tw-flex tw-items-center">
                <span class="tw-text-sm tw-uppercase">Name:</span>
                <span
                  class="tw-ml-1 tw-w-0 tw-flex-1 tw-bg-transparent tw-text-sm tw-font-semibold tw-uppercase"
                >
                  {{ jo.client_name }}
                </span>
              </div>
            </td>
            <td class="tw-w-1/2 tw-border tw-border-black">
              <div class="tw-flex tw-items-center">
                <span class="tw-text-sm tw-uppercase">Contact Number:</span>
                <span
                  class="tw-ml-1 tw-w-0 tw-flex-1 tw-bg-transparent tw-text-sm tw-font-semibold tw-uppercase"
                >
                  {{ jo.client_contact }}
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td class="tw-border tw-border-black" colspan="2">
              <div class="tw-flex tw-items-center">
                <span class="tw-text-sm tw-uppercase">LGU:</span>
                <span
                  class="tw-ml-1 tw-w-0 tw-flex-1 tw-bg-transparent tw-text-sm tw-font-semibold tw-uppercase"
                >
                  {{ jo.client_lgu }}
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td class="tw-w-1/2 tw-border tw-border-black">
              <div class="tw-flex tw-items-center">
                <label
                  for="request_mode"
                  class="tw-text-sm tw-uppercase tw-leading-none"
                >
                  Mode of request:
                </label>
                <input
                  readonly
                  id="request_mode"
                  name="request_mode"
                  type="text"
                  value="On Site"
                  placeholder=" "
                  class="tw-ml-1 tw-w-0 tw-flex-1 tw-bg-transparent tw-text-sm tw-font-semibold tw-capitalize tw-leading-none"
                >
              </div>
            </td>
            <td class="tw-w-1/2 tw-border tw-border-black">
              <div class="tw-flex tw-items-center">
                <label for="date" class="tw-text-sm tw-uppercase tw-leading-none"> Date: </label>
                <input
                  type="date"
                  {% if readonly %}
                    readonly
                  {% endif %}
                  name="{{ field_name(form.request_date) }}"
                  value="{{ jo.request_date  | date('Y-m-d') }}"
                  class="tw-ml-1 tw-w-0 tw-flex-1 tw-rounded-none tw-border-none tw-bg-transparent tw-p-0 tw-font-serif tw-text-sm tw-font-semibold tw-uppercase tw-leading-none"
                >
              </div>
            </td>
          </tr>
          <tr>
            <td
              class="tw-border tw-border-black tw-bg-neutral-200 tw-text-start tw-text-xs tw-font-semibold tw-uppercase tw-leading-none"
              colspan="2"
            >
              Job Order Details
            </td>
          </tr>
          <tr>
            <td class="tw-w-1/2 tw-border tw-border-black">
              <div class="tw-flex tw-items-center">
                <span class="tw-text-sm tw-uppercase tw-leading-none"> Scheduled date: </span>
                <input
                  readonly
                  type="text"

                  value="{{ jo.scheduled_start_date | date('Y-m-d')  }} - {{ jo.scheduled_end_date | date('Y-m-d')  }}"
                  name="{{ field_name(form.start_scheduled) }}"
                  class="tw-ml-1 tw-w-0 tw-flex-1 tw-bg-transparent tw-border-none tw-rounded-none tw-leading-none tw-font-semibold tw-text-sm tw-font-serif tw-p-0 tw-uppercase"
                >
              </div>
            </td>
            <td class="tw-w-1/2 tw-border tw-border-black">
              <div class="tw-flex tw-items-center">
                <span class="tw-text-sm tw-uppercase tw-leading-none"> Job order number: </span>
                <input
                  {{ jo_editable ? '' : 'readonly' }}
                  type="text"
                  value="{{ jo.job_order_number }}"
                  placeholder=" "
                  class="tw-ml-1 tw-w-0 tw-flex-1 tw-bg-transparent tw-text-sm tw-font-semibold tw-leading-none"
                >
              </div>
            </td>
          </tr>
          <tr>
            <td class="tw-w-1/2 tw-border tw-border-black">
              <div class="tw-flex tw-items-center">
                <span class="tw-text-sm tw-uppercase tw-leading-none">Issued by:</span>
                <span
                  class="tw-ml-1 tw-flex tw-w-0 tw-flex-1 tw-text-sm tw-font-semibold tw-uppercase tw-leading-none"
                >
                  {{ jo.issued_by }}
                </span>
              </div>
            </td>
            <td class="tw-w-1/2 tw-border tw-border-black">
              <div class="tw-flex tw-items-center">
                <span class="tw-text-sm tw-uppercase tw-leading-none">Approved by:</span>
                <span
                  class="tw-ml-1 tw-flex tw-w-0 tw-flex-1 tw-text-sm tw-font-semibold tw-uppercase tw-leading-none"
                >
                  {{ jo.approved_by }}
                </span>
              </div>
            </td>
          </tr>

          <tr>
            <td class="tw-h-[3em] tw-w-1/2 tw-border tw-border-black" colspan="2">
              <div class="tw-flex tw-items-center">
                <div class="tw-flex tw-flex-1 tw-items-start">
                  <span class="tw-mr-1 tw-text-sm tw-uppercase tw-leading-none"> Endorsed to: </span>
                  <span class="tw-relative tw-ml-1 tw-flex tw-w-0 tw-flex-1 tw-text-sm tw-font-semibold tw-uppercase tw-leading-none">
                    {% set count = endorsee|length %}
                    {% for name in endorsee %}
                      {% if loop.index == count %}
                        {{ name }}
                        {% elseif loop.index == count - 1 %}
                        {{ name }}, and
                      {% else %}
                        {{ name }},
                      {% endif %}
                    {% endfor %}
                  </span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="tw-w-1/2 tw-border tw-border-black" colspan="2">
              <div class="tw-flex tw-flex-col tw-items-stretch">
                <span class="tw-block tw-text-sm tw-font-semibold tw-uppercase tw-leading-[19px]"
                  >Job Request Description</span
                >
                <textarea
                  {% if readonly %}
                    readonly
                  {% endif %}
                  class="tw-mx-0 tw-my-2 tw-min-h-[2em] tw-resize-none tw-bg-transparent tw-text-sm tw-leading-none max-h-[10em]"
                  name="{{ field_name(form.job_description) }}"
                  name="job_description"
                  placeholder=" "
                >
                {{ jo.job_description }}
              </textarea>
              </div>
            </td>
          </tr>
          <tr>
            <td
              class="tw-border tw-border-black tw-bg-neutral-200 tw-text-start tw-text-xs tw-font-semibold tw-uppercase tw-leading-none"
              colspan="2"
            >
              Completion Information
            </td>
          </tr>
          <tr>
            <td class="tw-w-1/2 tw-border tw-border-black" colspan="2">
              <div class="tw-flex tw-flex-col tw-items-stretch">
                <span class="tw-block tw-text-sm tw-font-semibold tw-uppercase tw-leading-[19px]">Actual Job Done</span>
                <textarea
                  {% if readonly %}
                    readonly
                  {% endif %}
                  class="tw-mx-0 tw-my-2 tw-max-h-[15em] tw-min-h-[2em] tw-resize-none tw-bg-transparent tw-text-sm tw-leading-none"
                  name="{{ field_name(form.actual_job_done) }}"
                  placeholder=" "
                >
                {{ jo.actual_job_done }}
              </textarea>
              </div>
            </td>
          </tr>
          <tr>
            <td class="tw-w-1/2 tw-border tw-border-black" colspan="2">
              <div class="tw-flex tw-h-[5em] tw-items-end">
                <span class="tw-text-sm tw-uppercase tw-leading-[19px]"> Performed by: </span>
                <div class="tw-flex tw-flex-1 tw-flex-col tw-items-center">
                  <input
                    readonly
                    type="text"
                    value="{{ jo.performed_by | e('html_attr') }}"
                    placeholder=" "
                    class="tw-w-full tw-bg-transparent tw-text-center tw-text-sm tw-font-semibold tw-uppercase tw-leading-none"
                  >
                  <input
                    readonly
                    type="text"
                    value="{{ jo.performer_position | e('html_attr') }}"
                    placeholder=" "
                    class="tw-w-full tw-bg-transparent tw-text-center tw-text-xs tw-font-medium tw-uppercase tw-italic tw-leading-none"
                  >
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="tw-w-1/2 tw-border tw-border-black" colspan="2">
              <div class="tw-flex tw-h-[5em] tw-items-end">
                <span class="tw-text-sm tw-uppercase tw-leading-[19px]"> Verified by: </span>
                <div class="tw-flex tw-flex-1 tw-flex-col tw-items-center">
                  <input
                    {% if readonly %}
                      readonly
                    {% endif %}
                    type="text"
                    name="{{ field_name(form.verifier) }}"
                    value="{{ jo.verifier }}"
                    class="tw-w-full tw-bg-transparent tw-text-center tw-text-sm tw-font-semibold tw-uppercase tw-leading-none"
                    placeholder="client name"
                  >
                  <input
                    {% if readonly %}
                      readonly
                    {% endif %}
                    type="text"
                    name="{{ field_name(form.verifier_position) }}"
                    value="{{ jo.verifier_position | e('html_attr') }}"
                    class="tw-w-full tw-bg-transparent tw-text-center tw-text-xs tw-font-medium tw-uppercase tw-italic tw-leading-none"
                    placeholder="position"
                  >
                </div>
              </div>
            </td>
          </tr>
        </table>

        <div class="tw-mt-auto tw-flex tw-flex-1 tw-break-before-avoid tw-flex-col tw-items-stretch tw-justify-stretch tw-border tw-border-black tw-font-serif">
          <span class="tw-block tw-text-sm tw-font-semibold tw-uppercase tw-leading-[19px]"
            >Remarks/Comment/Feedback</span
          >
          <div class="tw-h-0 tw-flex-1">
            <textarea
              {% if readonly %}
                readonly
              {% endif %}
              name="{{ field_name(form.remarks) }}"
              placeholder=" "
              class="tw-h-full tw-w-full tw-resize-none tw-bg-transparent tw-text-sm tw-leading-none"
            >{{ jo.remarks }}</textarea>
          </div>
        </div>
        <em class="tw-invisible tw-mt-4 print:tw-visible">
          ****Please accomplish together with Client Satisfaction Feedback Form
        </em>
      </div>
    </div>
  </form>
</div>
{% endblock %}
