{% extends 'base.twig' %}
{% block head %}
<title>DICT JO - Form</title>
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
{% set readonly = true %}

<nav aria-label="Breadcrumb" class="print:tw-hidden">
  <ol class="flex p-4">
    <li class="flex items-center">
      <a href="/dashboard.php" class="text-blue-500 hover:text-blue-600 hover:underline">Home</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 512" transform="rotate(90)">
        <path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/>
      </svg>
    </li>
    <li class="flex items-center text-gray-500">
      <span class="mx-2">View</span>
    </li>
  </ol>
</nav>

<form
  action="#"
  method="post"
  class="jo-form tw-mx-auto tw-flex tw-justify-center print:!tw-m-0 print:!tw-max-w-full"
>
  {{ form_row(form._token) }}

  {% if id is defined %}
    <input type="hidden" name="{{ field_name(form.id)}}" value="{{id}}">
  {% endif %}

  <div class="tw-relative print:!tw-w-full">
    {% if jo.status == 'Draft' %}
      <strong class="tw-absolute tw-left-1/2 tw-top-1/2 tw-z-[-1] tw-hidden -tw-translate-x-1/2 tw-translate-y-1/2 tw-rotate-[-55deg] tw-scale-[7] tw-text-4xl tw-uppercase tw-tracking-widest tw-text-neutral-300 print:tw-block">
        draft
      </strong>
    {% endif %}

    {% if not readonly %}
      <div class="tw-absolute tw-bottom-8 tw-right-8 tw-z-10 tw-flex tw-gap-4">
        <button
          type="submit"
          class="tw-overflow-clip tw-rounded tw-bg-blue-950 tw-px-4 tw-py-2 tw-text-sm tw-font-semibold tw-uppercase tw-text-white print:tw-hidden"
          name="{{ field_name(form.draft) }}"
        >
          <i class="fa-solid fa-floppy-disk"></i>
          Draft
        </button>
        <button
          type="submit"
          class="tw-overflow-clip tw-rounded tw-bg-green-950 tw-px-4 tw-py-2 tw-text-sm tw-font-semibold tw-uppercase tw-text-white print:tw-hidden"
          name="{{ field_name(form.submit) }}"
        >
          <i class="fa-solid fa-floppy-disk"></i>
          Submit
        </button>
      </div>
    {% endif %}

    {% if not hidePrint is same as(true) %}
      <print-button
        type="button"
        class="tw-absolute tw-left-4 tw-top-4 tw-z-10 tw-overflow-clip tw-rounded-full tw-bg-blue-950 tw-px-4 tw-py-2 tw-text-sm tw-font-semibold tw-uppercase tw-text-white print:tw-hidden"
        {{ jo.status == 'Draft' ? 'text="Print Draft"' : '' }}
      >
      </print-button>
    {% endif %}
    <div class="tw-relative tw-z-0 tw-flex tw-h-[13in] tw-w-[8.5in] tw-flex-col tw-items-stretch tw-border tw-border-neutral-700 tw-p-[0.75in] print:!tw-w-full print:tw-border-none">
      <div class="tw-relative tw-flex tw-h-[0.75in] tw-items-center tw-justify-between">
        <img
          src="./assets/bagong_pilipinas.png"
          alt="Bagong Pilipinas Logo"
          class="tw-h-[0.5in]"
        >
        <img
          src="./assets/dict_header.png"
          alt="DICT Official Header"
          class="tw-absolute tw-right-1/2 tw-h-[0.75in] tw-translate-x-1/2"
        >
        <img src="{{jo.project_logo}}" alt="eLGU IBPLS logo" class="tw-h-[0.5in]">
      </div>
      <div class="tw-flex tw-justify-center">
        <h1 class="tw-mt-4 tw-font-serif tw-text-3xl tw-font-semibold tw-uppercase">job order form</h1>
      </div>
      <table class="tw-mb-[0.75in] tw-mt-2 tw-w-full tw-border-collapse tw-font-serif">
        <tr>
          <td
            class="tw-border tw-border-black tw-bg-neutral-200 tw-text-start tw-text-xs tw-font-semibold tw-uppercase tw-leading-none"
            colspan="2"
          >
            Client/Worksite Details
          </td>
        </tr>
        <tr>
          <td class="tw-w-1/2 tw-border tw-border-black">
            <div class="tw-flex tw-items-center">
              <label for="client_name" class="tw-text-sm tw-uppercase tw-leading-none">Name: </label>
              <input
                {% if readonly %}
                  readonly
                {% endif %}
                id="client_name"
                name="{{ field_name(form.client_name) }}"
                type="text"
                value="{{ jo.client_name | e('html_attr') }}"
                placeholder=" "
                class="tw-ml-1 tw-w-0 tw-flex-1 tw-bg-transparent tw-text-sm tw-font-semibold tw-uppercase tw-leading-none"
              >
            </div>
          </td>
          <td class="tw-w-1/2 tw-border tw-border-black">
            <div class="tw-flex tw-items-center">
              <label
                for="client_contact"
                class="tw-text-sm tw-uppercase tw-leading-none"
              >
                Contact Number:
              </label>
              <input
                {% if readonly %}
                  readonly
                {% endif %}
                id="client_contact"
                name="{{ field_name(form.client_contact) }}"
                type="text"
                value="{{ jo.client_contact }}"
                placeholder=" "
                class="tw-ml-1 tw-w-0 tw-flex-1 tw-bg-transparent tw-text-sm tw-font-semibold tw-leading-none"
              >
            </div>
          </td>
        </tr>
        <tr>
          <td class="tw-border tw-border-black" colspan="2">
            <div class="tw-flex tw-items-center">
              <label for="client_lgu" class="tw-text-sm tw-uppercase tw-leading-none">LGU: </label>
              <input
                {% if readonly %}
                  readonly
                {% endif %}
                id="client_lgu"
                name="{{ field_name(form.client_lgu) }}"
                type="text"
                value="{{ jo.client_lgu }}"
                placeholder=" "
                class="tw-ml-1 tw-w-0 tw-flex-1 tw-bg-transparent tw-text-sm tw-font-semibold tw-uppercase tw-leading-none"
              >
            </div>
          </td>
        </tr>
        <tr>
          <td class="tw-w-1/2 tw-border tw-border-black">
            <div class="tw-flex tw-items-center">
              <label
                for="request_mode"
                class="tw-text-sm tw-uppercase tw-leading-none"
              >
                Mode of request:
              </label>
              <input
                readonly
                id="request_mode"
                name="request_mode"
                type="text"
                value="On Site"
                placeholder=" "
                class="tw-ml-1 tw-w-0 tw-flex-1 tw-bg-transparent tw-text-sm tw-font-semibold tw-capitalize tw-leading-none"
              >
            </div>
          </td>
          <td class="tw-w-1/2 tw-border tw-border-black">
            <div class="tw-flex tw-items-center">
              <label for="date" class="tw-text-sm tw-uppercase tw-leading-none"> Date: </label>
              <input
                type="date"
                {% if readonly %}
                  readonly
                {% endif %}
                name="{{ field_name(form.request_date) }}"
                value="{{ jo.request_date  | date('Y-m-d') }}"
                class="tw-ml-1 tw-w-0 tw-flex-1 tw-rounded-none tw-border-none tw-bg-transparent tw-p-0 tw-font-serif tw-text-sm tw-font-semibold tw-uppercase tw-leading-none"
              >
            </div>
          </td>
        </tr>
        <tr>
          <td
            class="tw-border tw-border-black tw-bg-neutral-200 tw-text-start tw-text-xs tw-font-semibold tw-uppercase tw-leading-none"
            colspan="2"
          >
            Job Order Details
          </td>
        </tr>
        <tr>
          <td class="tw-w-1/2 tw-border tw-border-black">
            <div class="tw-flex tw-items-center">
              <span class="tw-text-sm tw-uppercase tw-leading-none"> Scheduled date: </span>
              <input
                  readonly
                  type="text"

                value="{{ jo.scheduled_start_date | date('Y-m-d')  }} - {{ jo.scheduled_end_date | date('Y-m-d')  }}"
                name="{{ field_name(form.start_scheduled) }}"
                class="tw-ml-1 tw-w-0 tw-flex-1 tw-bg-transparent tw-border-none tw-rounded-none tw-leading-none tw-font-semibold tw-text-sm tw-font-serif tw-p-0 tw-uppercase"
              ></date-picker>
            </div>
          </td>
          <td class="tw-w-1/2 tw-border tw-border-black">
            <div class="tw-flex tw-items-center">
              <span class="tw-text-sm tw-uppercase tw-leading-none"> Job order number: </span>
              <input
                {{ jo_editable ? '' : 'readonly' }}
                type="text"
                value="{{ jo.job_order_number }}"
                placeholder=" "
                class="tw-ml-1 tw-w-0 tw-flex-1 tw-bg-transparent tw-text-sm tw-font-semibold tw-leading-none"
              >
            </div>
          </td>
        </tr>
        <tr>
          <td class="tw-w-1/2 tw-border tw-border-black">
            <div class="tw-flex tw-items-center">
              <span class="tw-text-sm tw-uppercase tw-leading-none">Issued by:</span>
              <select
                {% if readonly %}
                  readonly
                {% endif %}
                name="{{ field_name(form.issued_by) }}"
              >
                {% for option in options %}
                  <option
                    value="{{ option }}"
                    {% if option == jo.issued_by %}
                      selected
                    {% endif %}
                  >
                    {{ option }}
                  </option>
                {% endfor %}
              </select>
            </div>
          </td>
          <td class="tw-w-1/2 tw-border tw-border-black">
            <div class="tw-flex tw-items-center">
              <span class="tw-text-sm tw-uppercase tw-leading-none">Approved by:</span>
              <select
                {% if readonly %}
                  readonly
                {% endif %}
                name="{{ field_name(form.approved_by) }}"
              >
                {% for option in options %}
                  <option
                    value="{{ option }}"
                    {% if option == jo.approved_by %}
                      selected
                    {% endif %}
                  >
                    {{ option }}
                  </option>
                {% endfor %}
              </select>
            </div>
          </td>
        </tr>

        <tr>
          <td class="tw-h-[3em] tw-w-1/2 tw-border tw-border-black" colspan="2">
            <div class="tw-flex tw-items-center">
              <div class="tw-flex tw-flex-1 tw-items-start">
                <span class="tw-mr-1 tw-text-sm tw-uppercase tw-leading-[19px]"> Endorsed to: </span>

              <select
                {% if readonly %}
                  readonly
                {% endif %}
                multiple
                name="{{ field_name(form.endorsee) }}"
              >
                {% for option in options %}
                  <option
                    value="{{ option }}"
                    {% if option in endorsee %}
                      selected
                    {% endif %}
                  >
                    {{ option }}
                  </option>
                {% endfor %}
              </select>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="tw-w-1/2 tw-border tw-border-black" colspan="2">
            <div class="tw-flex tw-flex-col tw-items-stretch">
              <span class="tw-block tw-text-sm tw-font-semibold tw-uppercase tw-leading-[19px]">Job Request Description</span>
              <textarea
                {% if readonly %}
                  readonly
                {% endif %}
                class="tw-mx-0 tw-my-2 max-h-[10em] tw-min-h-[2em] tw-resize-none tw-bg-transparent tw-text-sm tw-leading-none"
                name="{{ field_name(form.job_description) }}"
                name="job_description"
                placeholder=" "
              >
                {{ jo.job_description }}
              </textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td
            class="tw-border tw-border-black tw-bg-neutral-200 tw-text-start tw-text-xs tw-font-semibold tw-uppercase tw-leading-none"
            colspan="2"
          >
            Completion Information
          </td>
        </tr>
        <tr>
          <td class="tw-w-1/2 tw-border tw-border-black" colspan="2">
            <div class="tw-flex tw-flex-col tw-items-stretch">
              <span class="tw-block tw-text-sm tw-font-semibold tw-uppercase tw-leading-[19px]">Actual Job Done</span>
              <textarea
                {% if readonly %}
                  readonly
                {% endif %}
                class="tw-mx-0 tw-my-2 tw-max-h-[15em] tw-min-h-[2em] tw-resize-none tw-bg-transparent tw-text-sm tw-leading-none"
                name="{{ field_name(form.actual_job_done) }}"
                placeholder=" "
              >
                {{ jo.actual_job_done }}
              </textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="tw-w-1/2 tw-border tw-border-black" colspan="2">
            <div class="tw-flex tw-h-[5em] tw-items-end">
              <span class="tw-text-sm tw-uppercase tw-leading-[19px]"> Performed by: </span>
              <div class="tw-flex tw-flex-1 tw-flex-col tw-items-center">
                <input
                  readonly
                  type="text"
                  value="{{ jo.performed_by | e('html_attr') }}"
                  placeholder=" "
                  class="tw-w-full tw-bg-transparent tw-text-center tw-text-sm tw-font-semibold tw-uppercase tw-leading-none"
                >
                <input
                  readonly
                  type="text"
                  value="{{ jo.performer_position | e('html_attr') }}"
                  placeholder=" "
                  class="tw-w-full tw-bg-transparent tw-text-center tw-text-xs tw-font-medium tw-uppercase tw-italic tw-leading-none"
                >
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="tw-w-1/2 tw-border tw-border-black" colspan="2">
            <div class="tw-flex tw-h-[5em] tw-items-end">
              <span class="tw-text-sm tw-uppercase tw-leading-[19px]"> Verified by: </span>
              <div class="tw-flex tw-flex-1 tw-flex-col tw-items-center">
                <input
                  {% if readonly %}
                    readonly
                  {% endif %}
                  type="text"
                  name="{{ field_name(form.verifier) }}"
                  value="{{ jo.verifier }}"
                  class="tw-w-full tw-bg-transparent tw-text-center tw-text-sm tw-font-semibold tw-uppercase tw-leading-none"
                  placeholder="client name"
                >
                <input
                  {% if readonly %}
                    readonly
                  {% endif %}
                  type="text"
                  name="{{ field_name(form.verifier_position) }}"
                  value="{{ jo.verifier_position | e('html_attr') }}"
                  class="tw-w-full tw-bg-transparent tw-text-center tw-text-xs tw-font-medium tw-uppercase tw-italic tw-leading-none"
                  placeholder="position"
                >
              </div>
            </div>
          </td>
        </tr>
      </table>

      <div class="tw-mt-auto tw-flex tw-flex-1 tw-break-before-avoid tw-flex-col tw-items-stretch tw-justify-stretch tw-border tw-border-black tw-font-serif">
        <span class="tw-block tw-text-sm tw-font-semibold tw-uppercase tw-leading-[19px]">Remarks/Comment/Feedback</span>
        <div class="tw-h-0 tw-flex-1">
          <textarea
            {% if readonly %}
              readonly
            {% endif %}
            name="{{ field_name(form.remarks) }}"
            placeholder=" "
            class="tw-h-full tw-w-full tw-resize-none tw-bg-transparent tw-text-sm tw-leading-none"
          >{{ jo.remarks }}</textarea>
        </div>
      </div>
      <em class="tw-invisible tw-mt-4 print:tw-visible">
        ****Please accomplish together with Client Satisfaction Feedback Form
      </em>
    </div>
  </div>
</form>
{% endblock %}
