{% extends 'base.twig' %}
{% block head %}
<title>ADMIN | Personnels</title>
{% endblock %}
{% block header %}
{% set current = 'personnels' %}
{% include 'nav-bar.twig' %}
{% endblock %}
{% block body %}

<div
  class="modal fade"
  id="EditBackDrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Personnel</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="/admin/edit_personnel.php">
        <input type="hidden" id="edit-personnel-id">
        <div class="modal-body">
          <label for="edit-name" class="form-label">Name: </label>
          <input
            type="text"
            class="form-control mb-3"
            aria-label="name"
            aria-describedby="addon-wrapping"
            id="edit-name"
            name="name"
          >
          <label for="edit-position" class="form-label">Position: </label>
          <input
            type="text"
            class="form-control mb-3"
            aria-label="position"
            aria-describedby="addon-wrapping"
            id="edit-position"
            name="position"
          >
          <select name="project_name" class="form-select" id="projects-input">
            {% for option in options %}
              <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="AddBackDrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Personnel</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="/admin/personnels.php">
        <div class="modal-body">
          <label for="name" class="form-label">Name: </label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control mb-3"
            aria-label="name"
            aria-describedby="addon-wrapping"
          >
          <label for="position" class="form-label">Position: </label>
          <input
            type="text"
            id="position"
            name="position"
            class="form-control mb-3"
            aria-label="position"
            aria-describedby="addon-wrapping"
          >
          <label for="project_name" class="form-label">Project Name: </label>
          <select class="form-select" name="project_name">
            {% for option in options %}
              <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="col col-xxl-10 table-responsive mx-auto">
    <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#AddBackDrop">
      Add Personnel
    </button>
    <table class="table-light table-hover table-striped table border ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Assigned Project</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for per in personnel %}
          <tr>
            <td data-label="Name">{{ per.name }}</td>
            <td data-label="Position">{{ per.position }}</td>
            <td data-label="Assigned Project">{{ per.project_name }}</td>
            <td data-label="Action">
              <div class="d-flex flex-no-wrap gap-1">
                <button
                  onclick="setPersonnelId({{ per.personnel_id }})"
                  class="btn btn-sm btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#EditBackDrop"
                >
                  <i class="fa-solid fa-pen"></i>
                </button>
                <a href="/admin/delete_personnel.php?id={{ per.personnel_id }}" class="btn btn-sm btn-danger">
                  <i class="fa-solid fa-trash"></i>
                </a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  function setPersonnelId(personnel_id) {
    document.getElementById('edit-personnel-id').value = personnel_id;
  }
</script>
{% endblock %}
