{% extends 'base.twig' %}
{% block head %}
<title>ADMIN | Projects</title>
<link rel="stylesheet" href="..\styles\projects.css">
{% endblock %}
{% block header %}
{% set current = 'projects' %}
{% include 'nav-bar.twig' %}
{% endblock %}
{% block body %}

<div
  class="modal fade"
  id="EditBackDrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Project</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="/admin/edit_project.php">
        <div class="modal-body">
          <label for="name" class="form-label">Focal Person: </label>
          <select name="focal_person" class="form-select mb-3" id="focal_input">
            {% for option in options %}
              <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
          <label for="project_code" class="form-label">Short Code: </label>
          <input
            type="text"
            class="form-control mb-3"
            aria-label="code"
            aria-describedby="addon-wrapping"
            id="edit-project-code"
            name="project_code"
          >
          <label for="project_name" class="form-label">Project Name: </label>
          <input
            type="text"
            class="form-control mb-3"
            aria-label="project_name"
            aria-describedby="addon-wrapping"
            id="edit-project-name"
            name="project_name"
          >
          <label class="form-label" for="logo">Upload</label>
          <input type="file" class="form-control" id="edit-logo" name="project_logo">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save Project</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="AddBackDrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Project</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="/admin/projects.php">
        <div class="modal-body">
          <label for="name" class="form-label">Focal Person: </label>
          <select name="focal_person" class="form-select mb-3">
            {% for option in options %}
              <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
          <label for="project_code" class="form-label">Short Code: </label>
          <input
            type="text"
            class="form-control mb-3"
            aria-label="code"
            aria-describedby="addon-wrapping"
            id="project_code"
            name="project_code"
          >
          <label for="project_name" class="form-label">Project Name: </label>
          <input
            type="text"
            class="form-control mb-3"
            aria-label="name"
            aria-describedby="addon-wrapping"
            id="project_name"
            name="project_name"
          >
          <label class="form-label" for="logo">Upload</label>
          <input type="file" class="form-control" id="logo" name="project_logo">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add Project</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container  mt-5">
  <div class="col table-responsive mx-auto">
    <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#AddBackDrop">
      Add Project
    </button>
    <table class="table-light table-hover table-striped table  border ">
      <thead>
        <tr>
          <th>Short Code</th>
          <th>Project Name</th>
          <th>Icon</th>
          <th>Focal Person</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for proj in project %}
          <tr>
            <td data-label="Short Code">{{ proj.project_code }}</td>
            <td data-label="Project Name">{{ proj.project_name }}</td>
            <td data-label="Icon">
              {% if proj.project_logo is not empty %}
                <img class="td-icon" src="{{ proj.project_logo }}" alt="icon">
              {% else %}
                <img class="td-icon" src="/storage/default.png" alt="icon">
              {% endif %}
            </td>
            <td data-label="Focal Person">{{ proj.name }}</td>
            <td data-label="Action">
              <div class="d-flex flex-no-wrap gap-1">
                <a
                  href="#"
                  onclick="setProjectId({{ proj.project_id }})"
                  class="btn btn-sm btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#EditBackDrop"
                >
                  <i class="fa-solid fa-pen tw-h-3 tw-w-3"></i>
                </a>
                <a href="/admin/delete_project.php?id={{ proj.project_id }}" class="btn btn-sm btn-danger">
                  <i class="fa-solid fa-trash tw-h-3 tw-w-3"></i>
                </a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  function setProjectId(project_id) {
    document.getElementById('edit-project-id').value = project_id;
  }
</script>

{% endblock %}
