{% extends 'base.twig' %}
{% block head %}
<title>DICT JO - Sign IN</title>
<link rel="stylesheet" href="./styles/style.css">
{% endblock %}
{% block body %}
<div class="login-container">
  <div class="login-logo-wrapper">
    <img src="assets/logo.png" alt="" class="login-logo">
  </div>
  <div class="login-wrapper-2">
    <img src="assets/logo.png" alt="" class="login-logo-two">
    <div class="login-box">
      <h1 class="login-title">Job Order System</h1>
      {% for message in app.flashes('error') %}
        <strong>{{ message }}</strong>
      {% endfor %}
      {{ form_start(form) }}

      {{ form_errors(form_errors()) }}
      {{ form_widget(form.email, {'attr' : {'placeholder' : 'Email', 'class':'input-wrapper' }}) }}
      {{ form_widget(form.password, {'attr' : {'placeholder' : 'Email', 'class':'input-wrapper' }}) }}
      {{ form_widget(form.submit, {'attr' : {'class':'input-submit self-center' }}) }}
      {{ form_rest(form) }}
      {{ form_end(form) }}
    </div>
  </div>
</div>

{% endblock %}
